@font-face {
  font-family: 'Jost';
  src: url(components/fonts/Jost-VariableFont_wght.ttf);
}

html{
  margin: 0;
  font-family: 'Jost';
  background: #000;
  scroll-behavior: smooth;
}

body{
  margin: 0;
  overflow-x: hidden;
}